<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<context:annotation-config />
	<aop:aspectj-autoproxy />
	<import resource="beans-model.xml"/>
	<import resource="beans-datasource.xml" />
	
	<!-- <bean id="orderStatusTask" class="com.foot.order.task.BackOrderStatusTask">
		<property name="orderInfoService" ref="orderInfoServiceBean"/>
	</bean> 
	
	配置调度具体执行的方法 
    <bean id="orderDetail"  
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject" ref="orderStatusTask" />  
        <property name="targetMethod" value="execute" />  
        <property name="concurrent" value="false" />  
    </bean>
    	配置调度执行的触发的时间 
    <bean id="orderTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail" ref="orderDetail" />  
        <property name="cronExpression">  
            	每天早上4点执行任务调度 
            <value>0 0 4 * * ?</value>  
        </property>  
    </bean>    
	<bean id="startQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="orderTrigger"/>
			</list>
		</property> 
	</bean>
	-->
</beans>
